.footer-social {
  padding-top: 72px;
  margin-right: 94px;
}

.footer-social-list {
  display: flex;

  .item:not(:last-child) {
    margin-right: 10px;
  }
}

.footer-social-text {
  margin-top: 0;
  margin-bottom: 20px;

  color: $primary-white-color;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: $primary-white-color;
  background-color: rgba(255, 255, 255, 0.1);

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}

.footer-link-logo {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
