.logo-contacts {
  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    margin-right: 165px;
  }
}

// Лого
.footer-logo {
  padding: 0 0 20px 0;
}

// Контакты

.contacts {
  margin-top: 0;
}

.contacts-item {
  color: $primary-white-color;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  margin: 0;

  &:nth-last-child(-n + 2) {
    color: $contacts-color;
  }

  &:not(:last-child) {
    margin-bottom: 9px;
  }
}
