.footer-logo {
  margin-bottom: 20px;
}

.footer-contacts {
  margin: 0 0 60px 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);

  & .item {
    margin: 0;

    &:not(:last-child) {
      margin-bottom: 8px;
    }

    &:first-child {
      color: $primary-white-color;
    }
  }
}
