.our-team {
  text-align: center;

  background-color: $portfolio-button-color;
}

.team {
  font-size: 16px;
  line-height: 1.18;

  color: $title-color;

  &-title {
    margin: 0 0 10px 0;

    font-weight: 500;
    font-size: 16px;
  }

  &-position {
    margin: 0 0 16px 0;

    font-weight: 400;

    color: $primary-text-color;
  }
}

.team-item {
  padding-bottom: 36px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

.team-link {
  display: inline-flex;
}

.team-social {
  display: inline-flex;

  &-item {
    &:not(:last-child) {
      margin-right: 34px;
    }
  }
}

.team-link-icon {
  width: 20px;
  height: 20px;
  fill: $social-icon-color;
}
