$primary-text-color: #757575;
$title-color: #212121;
$accent-color: #2196f3;
$black-color: #000000;
$primary-white-color: #ffffff;
$footer-color: #2f303a;
$social-icon-color: #afb1b8;
$portfolio-button-color: #f5f4fa;
$contacts-color: rgba(255, 255, 255, 0.6);

//  белый цвет: #FFFFFF
//  цвет заголовка: #212121
//  основной цвет текста: #757575
//  акцент: #2196F3
//  цвет контактов в футере: rgba(255, 255, 255, 0.6);
//  цвет футера: #2F303A
//  черный цвет: #000000
//  цвет кнопок портфолио: #F5F4FA
